body {
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
}

.CommentApp-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.comment-input-container {
    /*
   /* width: 500px;
    margin: 20px;
    font-size: 14px;
    background-color: #fff;
    border: 1px solid #f0f0f0;
    padding: 20px;
    font-size: 14px;
    
    margin-bottom: 0px;*/
    display: grid;
    grid-column:2/4;
    background-color: #fff;
    border: 1px solid #f0f0f0;
}

.comment-input {
    padding: 20px;
    border: 1px solid #f0f0f0;
}

.comment-header {
    display: flex;
    margin-bottom: 20px;
}

.comment-header .comment-header-left {
    padding-right: 40px;

}

.comment-input input,
.comment-input textarea {
    border: 1px solid #6e6e6e;
    border-radius: 3px;
    padding: 5px;
    outline: none;
    font-size: 14px;
    resize: none;
    flex: 1;
}

.comment-body {
    display: flex;
    margin-bottom: 20px;
}

.comment-body .comment-body-left {
    padding-right: 40px;
}

.comment-body .comment-body-right {
    height: 100px;
}

.submit {
    display: flex;
    justify-content: flex-end;
}

.submit button {
    background-color: #000;
    color: #fff;
    border: none;
    padding: 5px 20px;
    border-radius: 3px;
    font-weight: bold;
    cursor: pointer;
}

.submit button:active {
    background-color: #6e6e6e;
}

.comment-container {
    height: 200px;
    padding: 0px;    
    border-top: 5px solid #f5f5f5;
}

.comment-name{
    font-weight: bold;
    font-size: 20px;
    padding-right: 50px;
}

.comment-container {
    display: grid;
    grid-template-columns: 20% 10% 50% 20%;
}

.comment-name {
    grid-column:2/3;
    background-color: rgb(255, 255, 255);
    text-align: center;
    padding: 5px;
}

.comment-content {
    background-color: rgb(255, 255, 255);
    padding: 10px;
}

.comment-app-input-container {
    display: grid;
    width: 100%;
    grid-template-columns: 20% 10% 50% 20%;
}

.comment-list-container {
    width: 100%;
}
