body{
    margin: 0;
}

a {
    text-decoration: none;
    color: #fff;
}

.post-link {
    text-decoration: none;
    color: #000;
}

.nav-link {
    text-decoration: none;
    color: #fff;
    padding: 10px;
    background-color: rgb(31, 29, 29);
}

.nav-link:hover{
    background-color: #fff;
    color: #d83535;
    transition: 0.5s ease-in-out all;
}

.navbar-container {
    background-color: rgb(31, 29, 29);
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 23px;
    font-weight: bold;
    color: #fff;
    width: 100%;
}


.navbar-right-item {
    padding: 10px;
}


.navbar-right {
    display: flex;
    margin-right: 60px;
}

.navbar-left {
    margin-left: 80px;
    cursor: pointer;
    /*设置换行*/
    white-space: nowrap;
}

.navbar-left:hover {
    color: #d83535;
    transition: 0.5s ease-in-out all;
    background: #e4e1e1;
}

.navbar-right .navbar-right-item {
    cursor: pointer;
}

.navbar-right .navbar-right-item:hover {
    color: #d83535;
    transition: 0.5s ease-in-out all;
    background: #fff;
}

@media screen and (max-width:650px) {
    .navbar-container {
        display: none;
    }
}

.intro-container {
    background-color: #d8dcdf;
    z-index: -2;
    display: flex;
    justify-content: center;
    padding: 50px;
}

.intro-bg {
    display: flex;
    justify-content: center;
    width: 750px;
}

.intro-pic {
    width: 200px;
    height: 200px;
    background-image: url('../FrontPage//imgs/thy.jpg');
    background-size: cover;
    background-position: center;
    border-radius: 50%;
    box-shadow:  5px 5px 10px #8a8d8f,
    -5px -5px 10px #ffffff;
}

.intro-left {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    text-align: center;
    margin-right: 100px;
}

.intro-relate {
    width: 150px;
    margin: 0 auto;
}

.intro-right {
    z-index: 2;
    width: 100%;
    border-radius: 64px;
    background: #d8dcdf;
    box-shadow:  5px 5px 10px #8a8d8f,
                 -5px -5px 10px #ffffff;
    z-index: 1;
    padding: 10px;
}

.front-content-container{
    width: 900px;
    display: flex;
    justify-content: center;
    padding: 50px;
}

.front-content-bg {
    display: flex;
    justify-content: center;
    align-items: center;
}

.fron-content-right {
    text-align: start;
    width: 150px;
}

.fron-content-right ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.fron-content-right ul li {
    border-radius: 5px;
    background-color: #000000;
    display: inline-block;
    font-size: 12px;
    font-weight: bold;
    padding: 5px;
    margin: 0 5px 5px 0;
    color: #fff;
    cursor: pointer;
}

@media screen and (max-width:800px) {
    .fron-content-right {
        display: none;
    }
    .intro-right {
        display: none;
    }
}

.front-content-left {
    width: 100%;
}

.post-content {
    width: 90%;
    height: 100px;
    overflow:hidden;
}

.post-container {
    display: flex;
    margin-bottom: 20px;
    cursor: pointer;
    width: 90%;
}

.post-right:hover {
    box-shadow: 1px 1px 2px 1px #000000;
    transition: 0.5s ease-in-out all;
    border-left: rgb(255, 0, 0) 5px solid;
    box-shadow:  5px 5px 10px #cfd2d4,
    -5px -5px 10px #ffffff;
}

.post-right {
    padding-left: 20px;
    border-left: #000 5px solid;
    width: 100%;
}


