.modal-container {
    width: 400px;
    background-color: aliceblue;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    border: none;
}

.modal-container .modal-input {
    width:300px;
    margin: 10px;
}

.modal-container .modal-btn {
    margin: 20px;
    width: 300px;
}

.modal-container .modal-words {
    margin-top: 20px;
    font-weight: bold;
}